.categories {
  position: relative;
  width: 275px;
  padding-left: 48px;
}

.categories__header {
  display: inline-block;
  font-size: 15px;
  line-height: 50px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  &:hover {
    .categories-list {
      display: block;
    }
  }
}


